.import {
  .uploadCard {
    margin-bottom: $spacing-lg;
  }

  .alert {
    margin-bottom: $spacing-lg;
  }

  .formItem {
    @include flex-start;
    align-items: center;

    label {
      min-width: 80px;
      font-weight: 500;
      color: $text-color;
    }
  }

  .fileName {
    margin-left: $spacing-md;
    color: $text-color-secondary;
  }

  .historyCard {
    // 额外样式
  }
}

